*, body {
    font-family: 'Poppins', sans-serif;
    background-color: #041836 ;
    color: #fff;
    transition: all .3s ease;
}

:root{
    --about: #DBDBDB;
    --button: #4690FF;
    --btnfooter: #48DF14;
    --blur: #B3B3B3;
    --normal : 1.1rem;
    --medium: 36px;
    --large: 57px;
    --btnfz: 24px;
    /* 485070 */
}


.navbar-brand {
    height: 60px;
    width: 60px;
}

.navbar-brand img{
    aspect-ratio: 1/1;
    width: 55px;
}

.navbar-nav li a {
    color: #fff;
    font-size: var(--normal);
    font-weight: 400;
}

.navbar-nav li a:hover{
    color: var(--button);
}

.navbar-nav .login{
    border: 1px solid var(--button);
    width: 183px;
    height: 48px;
    font-size: var(--normal);
    color: #fff;
    border-radius: 20px;
}

.navbar-nav .login:hover{
    background-color: var(--button);
}

.navbar-nav .login i {
    height: 28px;
    background-color: transparent;
}

.navbar-nav .sign {
    color: #fff;
    border-radius: 20px;
    height: 48px;
    width: 183px;
    background-color: var(--button);
    font-size: var(--normal);
}

.navbar-nav .sign:hover{
    background-color: #041836;
    border: 1px solid var(--button);
}

.hero{
    margin-top: 100px;
    height: 100vh;
}

.hero .row .col:nth-child(1) h1{
    font-size: var(--large);
}

.hero .row .col:nth-child(1) p {
    width: 443px;
    font-size: var(--normal);
}

.hero .row .col:nth-child(1) button {
    width: 237px;
    height: 58px;
    border-radius: var(--normal);
    background-color: var(--button);
    font-weight: 600;
    font-size: 1.15rem;
    border: none;
}

.hero .row .col:nth-child(1) button i{
    background-color: transparent;
    margin-left: 10px;
}

.hero .row .col:nth-child(1) button:hover{
    background-color: var(--btnfooter);
}

.hero .row .col:nth-child(2) .blur {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: #C4C4C4;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 4px 122px 179px rgba(43, 158, 223, 0.25);
}

.hero .row .col:nth-child(2) img{
    position: relative;
    z-index: 99;
    background-color: transparent;
}

.hero .row:nth-child(2){
    font-size: var(--normal);
}

.hero .row:nth-child(3) .blur{
    position: absolute;
    width: 95%; height: 26px;
    background: #0D355B;
    top: 30%;
    border-radius: 15px;
    box-shadow: 0px 4px 117px 51px rgba(43, 158, 223, 0.25);
    z-index: 1;
}

.hero .row:nth-child(3) .col img{
    height: 55px;
    background-color: transparent;
    z-index: 99;
    cursor: pointer;
}






@media (max-width: 1200px){
    .navbar-nav .login, .navbar-nav .sign{
        width: 150px;
        font-size: 1rem;
    }

    .navbar-nav li a{
        font-size: 1rem;
    }

    .navbar-brand img{
        width: 50px;
    }

    .hero{
        margin-top: 50px;
    }

    .hero .row .col:nth-child(1) h1{
        font-size: 45px;
    }

    .hero .row .col:nth-child(2) img{
        width: 80%;
    }

    .hero .row:nth-child(3) .col{
        justify-content: space-between;
    }

    .hero .row:nth-child(3) .col img{
        width: 18%;
        height: 50px;
    }

}

.services {
    height: 160vh;
    padding-top: 80px;
}

.services, .services .row, .services .row:nth-child(1) h1, .services .row:nth-child(1) p{
    background-color: var(--about);
    color: #000;
}

.services .row:nth-child(1) h1{
    font-size: var(--medium);
    font-weight: 700;
} 

.services .row:nth-child(1) p{
    width: 65%;
    font-size: var(--normal);
    line-height: 1.5;
}

.services .row:nth-child(2) .col{
    width: 46%;
    padding: 60px;
    border-radius: 30px;
    text-align: center;
    margin-top: 50px;
}

.services .row:nth-child(2) .col h1{
    font-size: var(--medium);
    font-weight: 600;
    text-align: start;
    margin-bottom: 20px;
}

.services .row:nth-child(2) .col p {
    font-size: var(--normal);
    text-align: start;
}

.services .row:nth-child(2) .col .img img{
    height: 345px;
    z-index: 99;
    position: relative;
    background-color: transparent;
}

.services .row:nth-child(2) .col .img .blur{
    position: absolute;
    width: 58px;height: 58px;
    border-radius: 50%;
    background: #C4C4C4;
    box-shadow: 0px 4px 122px 179px rgba(43, 158, 223, 0.25);
    left: 30%; top: 50%; 
}

.services .row:nth-child(3) button{
    width: 296px; height: 36px;
    border-radius: 20px;
    margin-top: 70px;
    background-color: var(--button);
    border: none;
}

.services .row:nth-child(3) button i{
    background-color: transparent;
}

.services .row:nth-child(3) button:hover{
    background-color: var(--btnfooter);
}

footer{
    height: 50vh;
}

footer .row {
    margin-top: 50px;
}

footer .row .col:nth-child(1) .head h1{
    font-size: var(--medium);
}

footer .row .col:nth-child(1) .head img{
    aspect-ratio: 1/1;
    width: 55px;
}

footer .row .col:nth-child(1) input{
    width: 233px; height: 49px;
    border: 1px solid var(--button);
}

footer .row .col:nth-child(1) input::placeholder{
    color: rgba(240, 248, 255, 0.673);
}

footer .row .col:nth-child(1) button{
    background-color: var(--btnfooter);
    border: none;
    width: 127px; height: 49px;
    color: #000;
    font-weight: 600;
    font-size: var(--normal);
}

footer .row .col:nth-child(2) h1, footer .row .col:nth-child(3) h1{
    font-size: var(--medium);
}

footer .row .col:nth-child(2) p{
    font-size: var(--normal);
}


@media screen and (max-width: 399px) {
    .hero .row .col:nth-child(1) h1{
        font-size: 35px;
    }

    .hero .row .col:nth-child(1) p {
        font-size: 17px;
        width: 100%;
    }

    .hero .row:nth-child(3) .col{
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 10px;
    }
    .hero .row:nth-child(3) .col img{
        width: 25%;
    }
}
